*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::selection {
  background: #fa7ad6;
  color: white;
}

body {
  background-color: $color-background;
  box-sizing: border-box;
  color: $color-text-dark;
}