@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&family=Roboto+Slab&family=Montserrat&display=swap");
.billboard {
  margin-bottom: 150px;
  overflow: hidden; }
  .billboard-header-main {
    padding: 50px 100px 0 100px; }
  .billboard-header-sub {
    font-size: 100px; }
  .billboard-squiggle {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2; }
    .billboard-squiggle > svg {
      width: 95vw; }

.first {
  text-align: left; }

.second {
  text-align: right; }

.copy {
  -webkit-text-stroke-color: #f8bd95;
  position: relative;
  top: -120px;
  z-index: -2;
  float: left; }

.about {
  display: flex;
  gap: 120px;
  overflow: hidden;
  width: 90vw;
  margin: auto; }
  .about-text {
    opacity: 0;
    margin-left: 10vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    width: 40vw;
    padding: 10px; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*::selection {
  background: #fa7ad6; }

body {
  background-color: #FFC5C5;
  box-sizing: border-box;
  color: #060830; }

body {
  font-family: "Gothic A1", sans-serif;
  color: #060830; }

h1 {
  font-family: "Gothic A1";
  font-size: 150px;
  font-weight: bold;
  letter-spacing: -2px;
  word-wrap: break-word;
  line-height: 140px; }

.scroll {
  max-width: 100%;
  overflow: hidden; }
  .scroll-marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 10s linear infinite; }
  .scroll-marquee p {
    display: inline-block;
    font-family: "Roboto Slab", sans-serif;
    font-size: 50px;
    padding-left: 20px; }

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-50%, 0, 0); } }

.hollow {
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #060830;
  -webkit-text-fill-color: transparent; }

.glitch {
  color: #060830;
  font-size: 120px;
  text-transform: uppercase;
  position: relative;
  display: inline-block; }

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;
  height: 100%;
  background: #FFC5C5; }

.glitch::before {
  left: 2px;
  text-shadow: -2px 0 #49FC00;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 3s infinite linear alternate-reverse; }

.glitch::after {
  left: -2px;
  text-shadow: -2px 0 #b300fc;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 2.5s infinite linear alternate-reverse; }

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(25px, 9999px, 143px, 0); }
  4.166666666666666% {
    clip: rect(47px, 9999px, 62px, 0); }
  8.333333333333332% {
    clip: rect(81px, 9999px, 115px, 0); }
  12.5% {
    clip: rect(16px, 9999px, 129px, 0); }
  16.666666666666664% {
    clip: rect(44px, 9999px, 108px, 0); }
  20.833333333333336% {
    clip: rect(51px, 9999px, 82px, 0); }
  25% {
    clip: rect(92px, 9999px, 48px, 0); }
  29.166666666666668% {
    clip: rect(75px, 9999px, 69px, 0); }
  33.33333333333333% {
    clip: rect(102px, 9999px, 16px, 0); }
  37.5% {
    clip: rect(143px, 9999px, 78px, 0); }
  41.66666666666667% {
    clip: rect(48px, 9999px, 21px, 0); }
  45.83333333333333% {
    clip: rect(133px, 9999px, 94px, 0); }
  50% {
    clip: rect(131px, 9999px, 130px, 0); }
  54.166666666666664% {
    clip: rect(122px, 9999px, 136px, 0); }
  58.333333333333336% {
    clip: rect(142px, 9999px, 37px, 0); }
  62.5% {
    clip: rect(53px, 9999px, 34px, 0); }
  66.66666666666666% {
    clip: rect(134px, 9999px, 105px, 0); }
  70.83333333333334% {
    clip: rect(125px, 9999px, 15px, 0); }
  75% {
    clip: rect(114px, 9999px, 131px, 0); }
  79.16666666666666% {
    clip: rect(53px, 9999px, 129px, 0); }
  83.33333333333334% {
    clip: rect(29px, 9999px, 50px, 0); }
  87.5% {
    clip: rect(128px, 9999px, 101px, 0); }
  91.66666666666666% {
    clip: rect(63px, 9999px, 82px, 0); }
  95.83333333333334% {
    clip: rect(61px, 9999px, 19px, 0); }
  100% {
    clip: rect(12px, 9999px, 133px, 0); } }

@keyframes glitch-anim {
  0% {
    clip: rect(25px, 9999px, 143px, 0); }
  4.166666666666666% {
    clip: rect(47px, 9999px, 62px, 0); }
  8.333333333333332% {
    clip: rect(81px, 9999px, 115px, 0); }
  12.5% {
    clip: rect(16px, 9999px, 129px, 0); }
  16.666666666666664% {
    clip: rect(44px, 9999px, 108px, 0); }
  20.833333333333336% {
    clip: rect(51px, 9999px, 82px, 0); }
  25% {
    clip: rect(92px, 9999px, 48px, 0); }
  29.166666666666668% {
    clip: rect(75px, 9999px, 69px, 0); }
  33.33333333333333% {
    clip: rect(102px, 9999px, 16px, 0); }
  37.5% {
    clip: rect(143px, 9999px, 78px, 0); }
  41.66666666666667% {
    clip: rect(48px, 9999px, 21px, 0); }
  45.83333333333333% {
    clip: rect(133px, 9999px, 94px, 0); }
  50% {
    clip: rect(131px, 9999px, 130px, 0); }
  54.166666666666664% {
    clip: rect(122px, 9999px, 136px, 0); }
  58.333333333333336% {
    clip: rect(142px, 9999px, 37px, 0); }
  62.5% {
    clip: rect(53px, 9999px, 34px, 0); }
  66.66666666666666% {
    clip: rect(134px, 9999px, 105px, 0); }
  70.83333333333334% {
    clip: rect(125px, 9999px, 15px, 0); }
  75% {
    clip: rect(114px, 9999px, 131px, 0); }
  79.16666666666666% {
    clip: rect(53px, 9999px, 129px, 0); }
  83.33333333333334% {
    clip: rect(29px, 9999px, 50px, 0); }
  87.5% {
    clip: rect(128px, 9999px, 101px, 0); }
  91.66666666666666% {
    clip: rect(63px, 9999px, 82px, 0); }
  95.83333333333334% {
    clip: rect(61px, 9999px, 19px, 0); }
  100% {
    clip: rect(12px, 9999px, 133px, 0); } }

@-webkit-keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(83px, 9999px, 84px, 0); }
  10% {
    clip: rect(107px, 9999px, 147px, 0); }
  13.333333333333334% {
    clip: rect(129px, 9999px, 34px, 0); }
  16.666666666666664% {
    clip: rect(67px, 9999px, 39px, 0); }
  20% {
    clip: rect(23px, 9999px, 136px, 0); }
  23.333333333333332% {
    clip: rect(142px, 9999px, 11px, 0); }
  26.666666666666668% {
    clip: rect(48px, 9999px, 111px, 0); }
  30% {
    clip: rect(36px, 9999px, 1px, 0); }
  33.33333333333333% {
    clip: rect(68px, 9999px, 70px, 0); }
  36.666666666666664% {
    clip: rect(56px, 9999px, 0px, 0); }
  40% {
    clip: rect(97px, 9999px, 21px, 0); }
  43.333333333333336% {
    clip: rect(100px, 9999px, 80px, 0); }
  46.666666666666664% {
    clip: rect(85px, 9999px, 71px, 0); }
  50% {
    clip: rect(125px, 9999px, 128px, 0); }
  53.333333333333336% {
    clip: rect(86px, 9999px, 14px, 0); }
  56.666666666666664% {
    clip: rect(129px, 9999px, 37px, 0); }
  60% {
    clip: rect(68px, 9999px, 50px, 0); }
  63.33333333333333% {
    clip: rect(111px, 9999px, 53px, 0); }
  66.66666666666666% {
    clip: rect(20px, 9999px, 46px, 0); }
  70% {
    clip: rect(65px, 9999px, 26px, 0); }
  73.33333333333333% {
    clip: rect(96px, 9999px, 144px, 0); }
  76.66666666666667% {
    clip: rect(134px, 9999px, 132px, 0); }
  80% {
    clip: rect(120px, 9999px, 149px, 0); }
  83.33333333333334% {
    clip: rect(23px, 9999px, 93px, 0); }
  86.66666666666667% {
    clip: rect(110px, 9999px, 27px, 0); }
  90% {
    clip: rect(145px, 9999px, 124px, 0); }
  93.33333333333333% {
    clip: rect(132px, 9999px, 80px, 0); }
  96.66666666666667% {
    clip: rect(66px, 9999px, 107px, 0); }
  100% {
    clip: rect(144px, 9999px, 71px, 0); } }

@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(83px, 9999px, 84px, 0); }
  10% {
    clip: rect(107px, 9999px, 147px, 0); }
  13.333333333333334% {
    clip: rect(129px, 9999px, 34px, 0); }
  16.666666666666664% {
    clip: rect(67px, 9999px, 39px, 0); }
  20% {
    clip: rect(23px, 9999px, 136px, 0); }
  23.333333333333332% {
    clip: rect(142px, 9999px, 11px, 0); }
  26.666666666666668% {
    clip: rect(48px, 9999px, 111px, 0); }
  30% {
    clip: rect(36px, 9999px, 1px, 0); }
  33.33333333333333% {
    clip: rect(68px, 9999px, 70px, 0); }
  36.666666666666664% {
    clip: rect(56px, 9999px, 0px, 0); }
  40% {
    clip: rect(97px, 9999px, 21px, 0); }
  43.333333333333336% {
    clip: rect(100px, 9999px, 80px, 0); }
  46.666666666666664% {
    clip: rect(85px, 9999px, 71px, 0); }
  50% {
    clip: rect(125px, 9999px, 128px, 0); }
  53.333333333333336% {
    clip: rect(86px, 9999px, 14px, 0); }
  56.666666666666664% {
    clip: rect(129px, 9999px, 37px, 0); }
  60% {
    clip: rect(68px, 9999px, 50px, 0); }
  63.33333333333333% {
    clip: rect(111px, 9999px, 53px, 0); }
  66.66666666666666% {
    clip: rect(20px, 9999px, 46px, 0); }
  70% {
    clip: rect(65px, 9999px, 26px, 0); }
  73.33333333333333% {
    clip: rect(96px, 9999px, 144px, 0); }
  76.66666666666667% {
    clip: rect(134px, 9999px, 132px, 0); }
  80% {
    clip: rect(120px, 9999px, 149px, 0); }
  83.33333333333334% {
    clip: rect(23px, 9999px, 93px, 0); }
  86.66666666666667% {
    clip: rect(110px, 9999px, 27px, 0); }
  90% {
    clip: rect(145px, 9999px, 124px, 0); }
  93.33333333333333% {
    clip: rect(132px, 9999px, 80px, 0); }
  96.66666666666667% {
    clip: rect(66px, 9999px, 107px, 0); }
  100% {
    clip: rect(144px, 9999px, 71px, 0); } }
