.abilities {
  height: 100vh;
  background-color: $color-text-dark;
  overflow: hidden;
  color: $color-background;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1000px;

  &-list {
    font-family: "Montserrat", sans-serif;
    font-size: 90px;
    // margin-left: 60px;
    width: 90vw;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-skill {
    font-size: 160px;
    -webkit-text-stroke-color: rgb(22, 42, 71) !important;
    width: 100vw;
  }
  
  &-billboard {
    height: 100%;
    width: 100vw;
    // overflow: hidden;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-title {
      font-family: "Gothic A1", sans-serif;
      font-weight: bold;
      font-size: 150px;
      line-height: 1;
      & > span {
        color: $color-background !important;
        &::before,
        &::after {
          background: $color-text-dark !important;
          left: 6px !important;
        }
      }
    }
    &-sub {
      font-size: 50px;
      max-width: 80vw;
    }
  }
}

.list {
  display: flex;
  z-index: -2;
  gap: 1000px;
  margin-top: 40px;
}

.another {
  &::before,
  &::after {
    animation-delay: .5s !important;
  }
}

.ghost {
  width: 100vw;
  height: 100vh;
}
