.about {
  display: flex;
  gap: 120px;
  overflow: hidden;
  width: 90vw;
  margin: auto;
  &-text {
    opacity: 0;
    margin-left: 10vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    width: 40vw;
    padding: 10px;
  }
}

.face {

}